{# DECLARATION #}
	{% set testimonials = "" %}
{# ASIGNATION #}
	{% set testimonials = entry.testimonials.all() %}
{# CODE #}
	<section class="o-section c-testimonials">
		<div class="o-wrapper">
			<h2 data-title="Témoignages" class="c-data">Témoignages</h2>
			<ul class="o-list-bare c-testimonials_ul">
				{% for block in testimonials %}
					{# DECLARATION #}
						{% set tabOne = "" %}
						{% set image = "" %}
					{# ASIGNATION #}
						{% set tabOne = "testimonialsTab" %}
						{% set image = block.testimonialName %}
						{% set imageTitle = block.testimonialContent %}
					{# CODE #}
						{% if block.type == tabOne %}
							<li>		
							<div class="c-testimonials_content">
								{{imageTitle}}
								</div>						
								<p class="c-testimonials_name">{{image}}</p> 
							</li>
						{% endif %}
				{% endfor %}
			</ul>
			<div class="c-parners_dots"></div>
		</div>
	</section>