.c-testimonials {
	@include mixingBottom();
}


.c-testimonials_ul {
	margin-left: -72px;
    max-width: 1024px;
    margin-bottom: 0 !important;
	li {
		padding-left: 72px;
        img {
            width: 100%;
            margin: 0 auto;
        }
	}
	.slick-track {
		margin-left: 0;
	}
}


$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

    .slick-active:focus,
    .slick-active *:focus {
        outline: none;
    }
/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: relative;
    list-style: none;
    display: block;
    text-align: left;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-top: 24px;
    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 0 0 24px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            cursor: pointer;
            width: 16px;
            height: 16px;
            line-height: 20px;
            text-align: center;
            color: $slick-dot-color;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            background: $colorSix;
            border-radius: 100%;            
        }
        &:first-child {
            margin-left: 0;
        }
        &.slick-active button:before {
            color: $slick-dot-color-active;
            opacity: $slick-opacity-default;
        }
    }
    .slick-active,
    li:hover {
    	button
    	{background: $colorZero;}
    }
}


.c-cpartners {
    @include mixingBottom();
}
.c-cpartners_ul {
    text-align: center;
    li {
        margin-bottom: 40px;
        text-align: center;
    }
}


.c-testimonials_name {
    font-style: italic;
}

.c-testimonials_content {
    margin-bottom: -8px;
}