{% extends "_layout/site" %}
    {% block content %}
{# DECLARATION #}
	{% set partners = "" %}
{# ASIGNATION #}
	{% set partners = entry.completListPartners.all() %}
{# CODE #}
	<section class="o-section c-cpartners">
		<div class="o-wrapper">
			<ul class="o-layout o-layout--medium c-cpartners_ul">
		 		{% for partner in partners%}
		 			<li class="o-layout__item u-1/5">{% if partner.imagesLink|length %}<a href="{{partner.imagesLink}}" target="_blank">{% endif %}<img src="{{partner.url('partners')}}">{% if partner.imagesLink|length %}</a>{% endif %}</li>
		 		{% endfor%}
	 		</ul>
		</div>
	</section>   

	<section class="o-section c-cpartners">
		<div class="o-wrapper">
			<ul class="o-layout o-layout--medium c-cpartners_ul">
		 		{% for partner in entry.partnersSecond %}
		 			<li class="o-layout__item u-1/5">{% if partner.imagesLink|length %}<a href="{{partner.imagesLink}}" target="_blank">{% endif %}<img src="{{partner.url('partners2')}}">{% if partner.imagesLink|length %}</a>{% endif %}</li>
		 		{% endfor%}
	 		</ul>
		</div>
	</section>   	 	 
    {% endblock %}

