{# 
	AUTHOR         	: Agence Zel
	PURPOSE     	: MAISON PAINCHAUD - SITE | LAYOUT THEME
#}
{# DECLARATION #}
	{% set menuMain 		= "" %}
	{% set menuSecondary 	= "" %}	
	{% set logo				= "" %}
{# ASIGNATION #}
	{% set menuSecondary 	= craft.entries.section('menuSecondary').all() %}
	{% set logo				= craft.app.sites.primarySite.baseUrl  ~ "assets/images/logos/maison-painchaud-logo--header.png" %}
{# CODE #}
	<!doctype html>
		<html lang="{{craft.app.language}}">
			<head>
				{% hook 'seo' %}
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<style>.c-load-page{width:100%;height:100%;background:#FFF;position:fixed;z-index:1001;top:0;opacity:1}.c-load-page-two{width:100%;height:100%;background:#fff;position:fixed;z-index:999;top:0}#pageload{position:fixed;top:50%;left:50%;z-index:10001;opacity:0}#progressbar{width:100%;height:4px;position:relative;padding-top: 8px;}#progressbar svg{height: 4px !important;font-size: 0;}#progressbar:before{position:absolute;content:'';height:4px;width:100%;background:#eee;left:0;z-index:-1;top:20px}.c-load-page_animation{margin:0 auto;display:block;position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);z-index:1234;width:240px}.c-load-page_animation_logo{opacity:1;width:100%;margin-bottom:6px}@media only screen and (min-width: 320px){ #pageload{height:90px;width:90px;margin-top:-45px;margin-left:-45px}}@media only screen and (min-width: 720px){ #pageload{height:120px;width:120px;margin-top:-60px;margin-left:-60px}}@media only screen and (min-width: 1024px){ #pageload{height:180px;width:180px;margin-top:-90px;margin-left:-90px}}@media only screen and (min-width: 1280px){ #pageload{height:240px;width:240px;margin-top:-120px;margin-left:-120px}}</style>				
			</head>
			<body id="barba-wrapper">	
				<div class="c-load-page"></div>
				<div class="c-load-page_animation">
					<img class="c-load-page_animation_logo" src="{{logo}}" alt="Maison Painchaud">
					<div id="progressbar"></div>
				</div>
				<div  class="barba-container lang-{{craft.app.language}}" data-namespace="page">
				{% include "_includes/components/header" %}	
				<main class="c-main">
					{% block content %}{% endblock %}	
				</main>
				{% include "_includes/components/footer" %}
				<script defer  src="{{ craft.app.sites.primarySite.baseUrl }}assets/script/app.js"></script>
				<link rel="stylesheet" href="{{ craft.app.sites.primarySite.baseUrl }}assets/css/app.css">
				</div>
			</body>
		</html>					