
{# DECLARATION #}

{# ASIGNATION #}
{# CODE #}
	<!doctype html>
		<html lang="{{craft.app.language}}">
			<head>
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
			</head>
			<body>	
				<header></header>
				<main>
					{% block content %}{% endblock %}	
				</main>
				<footer></footer>
			</body>
		</html>					