
	<h2 data-title="Écrivez-nous" class="c-data c-color-two">Postuler pour ce poste</h2>
	<div class="invalid-form-error-message -career"></div>
	<form id="o-form" method="post" enctype="multipart/form-data" class="o-form -career" action="/" accept-charset="UTF-8">
        <div class="c-success"></div>		
        <input type="hidden" name="action" value="contact-form/send">
    	{{ csrfInput() }}
		    <input id="from-name" type="hidden" name="fromName" value="">
			<input id="subject" type="hidden" name="subject" value="Carrière">
		    <label>{{"First name"|t}}</label>
		    <input id="fname" type="text" data-parsley-error-message="{{ 'This field is required' | translate }}" value="" data-parsley-length="[1, 200]" data-parsley-group="block1" data-parsley-validate-if-empty>

		    <label>{{"Last name"|t}}</label>
		    <input id="lname" type="text" data-parsley-error-message="{{ 'This field is required' |translate }}" value="" data-parsley-length="[1, 200]" data-parsley-group="block1" data-parsley-validate-if-empty>

		    <label for="from-email">{{"Email"|t}}</label>
		    <input id="from-email" type="email" name="fromEmail" value="" data-parsley-length="[1, 200]" data-parsley-group="block1" data-parsley-validate-if-empty>

		    <label for="phone">{{"Phone"|t}}</label>
			<input id="phone" type="text" name="message[Phone]" data-parsley-error-message="{{ 'This field is required' |translate }}" value="" pattern="[(][0-9]{3}[)] [0-9]{3}-[0-9]{4}" data-parsley-length="[1, 200]" data-parsley-group="block1" data-parsley-validate-if-empty>

		    <label for="attachment">{{"Join your resume"|t}}</label>
			<div class="c-file -cv">
				<div class="c-file-upload -cv">
						<div class="c-file-select">
						<div class="c-file-select-name" id="noFile-cv">{{"Choose..."|t}}</div> 
						<div class="c-file-select-button" id="fileName-cv">
                            <svg width="31px" height="29px" viewBox="0 0 31 29" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <!-- Generator: Sketch 52.3 (67297) - http://www.bohemiancoding.com/sketch -->
                                <title>upload-icon</title>
                                <desc>Created with Sketch.</desc>
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="single-poste" transform="translate(-991.000000, -3214.000000)" fill="#02ADBB">
                                        <g id="upload-icon" transform="translate(991.000000, 3214.000000)">
                                            <path d="M13.9182345,3.92798404 C13.7849625,4.05521809 13.7042268,4.12953989 13.6265563,4.20698138 C12.0876751,5.74235372 10.5488552,7.2778484 9.01058697,8.81389362 C8.6819433,9.14207181 8.29303908,9.33665426 7.83001992,9.20630053 C7.06300077,8.99043085 6.77542989,8.05575 7.26284751,7.42502394 C7.33733027,7.32861968 7.42634176,7.24285904 7.51228812,7.155875 C9.69349885,4.94946543 11.8748935,2.7433617 14.0570238,0.537808511 C14.7119203,-0.124175532 15.3704337,-0.129069149 16.0201195,0.523494681 C18.2163494,2.72935372 20.4123954,4.93545745 22.6070314,7.14284574 C23.0035985,7.54167553 23.0979433,8.01935372 22.8826483,8.48320745 C22.6838437,8.91164362 22.24461,9.17394149 21.7684107,9.14427394 C21.4342498,9.12347606 21.1753073,8.96009043 20.9435831,8.72648138 C19.4844567,7.25570479 18.0204874,5.78976064 16.5602575,4.32008511 C16.4743724,4.2336516 16.407246,4.12880585 16.331292,4.03246277 C16.2989854,4.04488032 16.2667402,4.0572367 16.2343724,4.06959309 C16.2287326,4.19187234 16.2182498,4.3141516 16.2181885,4.43643085 C16.2173916,10.1353537 16.2176368,15.8342154 16.2167785,21.5331383 C16.2167172,21.685758 16.2173916,21.8397846 16.1986943,21.990875 C16.1258054,22.579516 15.6340966,22.9923537 15.0320429,22.9788963 C14.4445793,22.9658059 13.9635372,22.5099654 13.92179,21.9229761 C13.913882,21.8113404 13.9183571,21.6987872 13.9183571,21.5866622 C13.9182345,15.847 13.9182345,10.1073378 13.9182345,4.36761436 L13.9182345,3.92798404 Z" id="Fill-1"></path>
                                            <path d="M15.487727,28.1662814 C11.3799094,28.166215 7.27202828,28.1676099 3.16414713,28.1655507 C1.60747705,28.16482 0.436972951,27.2543973 0.093304918,25.7741135 C0.0388643443,25.5395664 0.00678442623,25.2932621 0.00557745902,25.0522053 C-0.00217254098,23.4912814 -0.000393852459,21.9302911 0.00233770492,20.3693671 C0.00329057377,19.8241498 0.219909426,19.4020845 0.703013934,19.1687331 C1.16026393,18.947936 1.59420041,19.024657 1.97693607,19.3597717 C2.29144631,19.6350374 2.39626189,20.0081473 2.39537254,20.4273563 C2.39225984,21.9219215 2.39353033,23.4164867 2.39467377,24.9109855 C2.39505492,25.4916075 2.58143607,25.6877609 3.13556107,25.6877609 C11.3724135,25.6882923 19.6093295,25.6882923 27.846182,25.6877609 C28.3986553,25.6876944 28.586307,25.4897476 28.5867516,24.9093913 C28.5880221,23.4037995 28.5842742,21.8981413 28.5887844,20.3925495 C28.5908807,19.7274348 28.9658664,19.2183527 29.5215795,19.1007138 C30.244807,18.9476039 30.9473254,19.434035 30.9600939,20.2073563 C30.9891881,21.9658949 31.0183459,23.7299469 30.9174053,25.4836365 C30.8345057,26.9228696 29.6277926,28.0341618 28.2553439,28.1466196 C28.0551779,28.1630266 27.8534873,28.1654843 27.652559,28.1654843 C23.5975939,28.1665471 19.5426922,28.1662814 15.487727,28.1662814" id="Fill-4"></path>
                                        </g>
                                    </g>
                                </g>
                            </svg>      	       	
						</div>
						<input type="file" name="attachment" id="chooseFile-cv" accept="application/pdf" data-parsley-group="block1" data-parsley-error-message="{{ 'This field is required' |translate }}" data-parsley-length="[1, 200]" data-parsley-validate-if-empty data-parsley-errors-container=".c-file.-cv">
						</div>
				</div>
			</div>

		    <label for="attachmentTwo">{{"Attach your cover letter (optional)"|t}}</label>
			<div class="c-file-upload -letter">
					<div class="c-file-select">
					<div class="c-file-select-name" id="noFile-letter">{{"Choose..."|t}}</div> 
					<div class="c-file-select-button" id="fileName-letter">
                        <svg width="31px" height="29px" viewBox="0 0 31 29" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 52.3 (67297) - http://www.bohemiancoding.com/sketch -->
                            <title>upload-icon</title>
                            <desc>Created with Sketch.</desc>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="single-poste" transform="translate(-991.000000, -3214.000000)" fill="#02ADBB">
                                    <g id="upload-icon" transform="translate(991.000000, 3214.000000)">
                                        <path d="M13.9182345,3.92798404 C13.7849625,4.05521809 13.7042268,4.12953989 13.6265563,4.20698138 C12.0876751,5.74235372 10.5488552,7.2778484 9.01058697,8.81389362 C8.6819433,9.14207181 8.29303908,9.33665426 7.83001992,9.20630053 C7.06300077,8.99043085 6.77542989,8.05575 7.26284751,7.42502394 C7.33733027,7.32861968 7.42634176,7.24285904 7.51228812,7.155875 C9.69349885,4.94946543 11.8748935,2.7433617 14.0570238,0.537808511 C14.7119203,-0.124175532 15.3704337,-0.129069149 16.0201195,0.523494681 C18.2163494,2.72935372 20.4123954,4.93545745 22.6070314,7.14284574 C23.0035985,7.54167553 23.0979433,8.01935372 22.8826483,8.48320745 C22.6838437,8.91164362 22.24461,9.17394149 21.7684107,9.14427394 C21.4342498,9.12347606 21.1753073,8.96009043 20.9435831,8.72648138 C19.4844567,7.25570479 18.0204874,5.78976064 16.5602575,4.32008511 C16.4743724,4.2336516 16.407246,4.12880585 16.331292,4.03246277 C16.2989854,4.04488032 16.2667402,4.0572367 16.2343724,4.06959309 C16.2287326,4.19187234 16.2182498,4.3141516 16.2181885,4.43643085 C16.2173916,10.1353537 16.2176368,15.8342154 16.2167785,21.5331383 C16.2167172,21.685758 16.2173916,21.8397846 16.1986943,21.990875 C16.1258054,22.579516 15.6340966,22.9923537 15.0320429,22.9788963 C14.4445793,22.9658059 13.9635372,22.5099654 13.92179,21.9229761 C13.913882,21.8113404 13.9183571,21.6987872 13.9183571,21.5866622 C13.9182345,15.847 13.9182345,10.1073378 13.9182345,4.36761436 L13.9182345,3.92798404 Z" id="Fill-1"></path>
                                        <path d="M15.487727,28.1662814 C11.3799094,28.166215 7.27202828,28.1676099 3.16414713,28.1655507 C1.60747705,28.16482 0.436972951,27.2543973 0.093304918,25.7741135 C0.0388643443,25.5395664 0.00678442623,25.2932621 0.00557745902,25.0522053 C-0.00217254098,23.4912814 -0.000393852459,21.9302911 0.00233770492,20.3693671 C0.00329057377,19.8241498 0.219909426,19.4020845 0.703013934,19.1687331 C1.16026393,18.947936 1.59420041,19.024657 1.97693607,19.3597717 C2.29144631,19.6350374 2.39626189,20.0081473 2.39537254,20.4273563 C2.39225984,21.9219215 2.39353033,23.4164867 2.39467377,24.9109855 C2.39505492,25.4916075 2.58143607,25.6877609 3.13556107,25.6877609 C11.3724135,25.6882923 19.6093295,25.6882923 27.846182,25.6877609 C28.3986553,25.6876944 28.586307,25.4897476 28.5867516,24.9093913 C28.5880221,23.4037995 28.5842742,21.8981413 28.5887844,20.3925495 C28.5908807,19.7274348 28.9658664,19.2183527 29.5215795,19.1007138 C30.244807,18.9476039 30.9473254,19.434035 30.9600939,20.2073563 C30.9891881,21.9658949 31.0183459,23.7299469 30.9174053,25.4836365 C30.8345057,26.9228696 29.6277926,28.0341618 28.2553439,28.1466196 C28.0551779,28.1630266 27.8534873,28.1654843 27.652559,28.1654843 C23.5975939,28.1665471 19.5426922,28.1662814 15.487727,28.1662814" id="Fill-4"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>      	
					</div>
					<input type="file" name="attachment" id="chooseFile-letter" accept="application/pdf">
					</div>

					
			</div>
			<p class="c-form-advert">Veuillez noter que nous communiquerons uniquement avec les personnes qui seront sélectionnées en entrevue. </p>
<div class="c-submit_wrap"><div class="c-submit c-btn c-btn--tertiary"><input id="submit" type="submit" value="{{'Submit'|t}}" class="c-btn_submit"></div></div>
		</form>					